[submodule "bin_tool"]
	path = submodules/bin_tool
	url = https://github.com/GhofraneFarhat/bin_tool.git
[submodule "submodules/classif_tool"]
	path = submodules/classif_tool
	url = https://github.com/GhofraneFarhat/classif_tool.git
[submodule "submodules/classify"]
	path = submodules/classify
	url = https://github.com/GhofraneFarhat/classify.git
[submodule "submodules/PlasBin-flow"]
	path = submodules/PlasBin-flow
	url = https://github.com/cchauve/PlasBin-flow.git
[submodule "submodules/plASgraph2"]
	path = submodules/plASgraph2
	url = https://github.com/cchauve/plASgraph2.git
[submodule "submodules/PlasBin"]
	path = submodules/PlasBin
	url = https://github.com/cchauve/PlasBin.git
[submodule "submodules/PlasForest"]
	path = submodules/PlasForest
	url = https://github.com/leaemiliepradier/PlasForest.git
[submodule "submodules/plASgraph"]
	path = submodules/plASgraph
	url = https://github.com/cchauve/plASgraph.git
[submodule "submodules/plasmidRF/RFPlasmid"]
	path = submodules/plasmidRF/RFPlasmid
	url = https://github.com/aldertzomer/RFPlasmid.git
