[submodule "plASgraph2"]
	path = submodules/plASgraph2
	url = https://github.com/cchauve/plASgraph2.git
[submodule "plASgraph"]
	path = submodules/plASgraph
	url = https://github.com/cchauve/plASgraph.git
[submodule "PlasBin-flow"]
	path = submodules/PlasBin-flow
	url = https://github.com/cchauve/PlasBin-flow.git
	branch = v1.0.2.2
[submodule "classif_tool"]
	path = submodules/classif_tool
	url = https://github.com/GhofraneFarhat/classif_tool.git
[submodule "classify"]
	path = submodules/classify
	url = https://github.com/GhofraneFarhat/classify.git
[submodule "bin_tool"]
	path = submodules/bin_tool
	url = https://github.com/GhofraneFarhat/bin_tool.git
