[submodule "plASgraph2"]
	path = plASgraph2
	url = https://github.com/cchauve/plASgraph2.git
[submodule "plASgraph"]
	path = plASgraph
	url = https://github.com/cchauve/plASgraph.git
[submodule "PlasBin-flow"]
	path = PlasBin-flow
	url = https://github.com/cchauve/PlasBin-flow.git
	branch = v1.0.2.2
[submodule "bin_tool"]
	path = bin_tool
	url = https://github.com/GhofraneFarhat/bin_tool.git
[submodule "classif_tool"]
	path = classif_tool
	url = https://github.com/GhofraneFarhat/classif_tool.git
[submodule "classify"]
	path = classify
	url = https://github.com/GhofraneFarhat/classify.git
